RewriteEngine On

RewriteBase /
RewriteRule ^rest/apps/(.*?)/controls(.*)$ assets/test/apps.1.controls.json [L]
RewriteRule ^rest/apps(.*)$ assets/test/apps.json
RewriteRule ^rest/users/employees(.*)$ assets/test/employees.json
RewriteRule ^rest/users/termsOfUse(.*)$ assets/test/termsOfUse.json
RewriteRule ^rest/users(.*)$ assets/test/user.json
RewriteRule ^rest/tasks(.*)$ assets/test/tasks.json
RewriteRule ^rest/dashboards$ assets/test/dashboards.json
RewriteRule ^rest/dashboards/(.*?)/controls(.*)$ assets/test/dashboard.1.controls.json [L]
RewriteRule ^rest/dashboards/home(.*)$ assets/test/dashboard.refresh.home.json
RewriteRule ^rest/dashboards/custom(.*)$ assets/test/dashboard.refresh.custom.json
RewriteRule ^rest/widgets/search/(.*)$ assets/test/widgets.search.json
RewriteRule ^rest/widgets(.*)$ assets/test/widgets.json
RewriteRule ^rest/messages(.*)$ assets/test/messages.json
RewriteRule ^rest/user/settings(.*)$ assets/test/settings.json
RewriteRule ^rest/workplace/properties(.*)$ assets/test/properties.json
RewriteRule ^rest/workplace/init(.*)$ assets/test/init.json
RewriteRule ^apps.downtime.intranet.json(.*)$ assets/test/apps.downtime.intranet.json
RewriteRule ^rest/layouts(.*)$ assets/test/appsLayouts.json
RewriteRule ^rest/campaigns(.*)$ assets/test/campaigns.json
